.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      .chat-main__group-info__box__group-name
        = @group.name
      .chat-main__group-info__box__member
        = "Member:"
        - @group.group_users.each do |user_name|
          = user_name.user.name
    .chat-main__group-info__edit-btn
      = link_to edit_group_path(@group) do
        %button edit
  .chat-main__messages-list
    = render @messages
  .chat-main__messages-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .chat-main__messages-form__box__icon
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
